.paper-form{
    display: flex;
    padding: 1rem;
    width: 400px;
    box-sizing:border-box;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-preferred-size:100%;
    justify-content:center;
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    background-color: #ffffff;
    max-width:100%;
    padding: 1rem;
    justify-items: flex-end;
    box-shadow: 0 4px 15px 0 rgba(209, 58, 58, 0.897), 0 4px 20px 0 rgba(85, 167, 243, 0.973);
    
}
.submit-form{
    margin: 1rem;
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;


} 
.submit-form {
    padding-top: 20px;
    padding-right: 70%px;
    padding-bottom: 20px;
    padding-left: 70%px
}

.paper-form :nth-child(1){
    margin: 0.3rem;
    padding-top: 1.2rem;
}

.file_input{
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 5px solid #1976D2;
    border-radius: 8px;
    color: #ffffff;
    background:#1976D2;
    margin: 1rem;
}
.file_input input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  
}

