:root {
  --blue: rgb(7, 7, 65);
  --white: rgb(236, 236, 236);
  --form-height:550px;
  --form-width: 900px;
  --left-color: #9fdeaf;
  --right-color: #96dbe2;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c9adad;
  color: #555;
  background: #ecebeb;
  text-align: center;
  font-family: "Roboto Mono";
  padding: 1em;
}
body.light {
  background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
}
body.dark {
  background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* For WebKit based browsers */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d5656; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a; /* Color of the scrollbar handle on hover */
}